---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <button class="bg-blue-600 px-2 py-1 rounded-md text-white">Send Email</button>
</Layout>

<script>
  document.querySelector("button")?.addEventListener("click", async () => {
    try {
      const res = await fetch("./api/sendEmail.json", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          from: "Acme <onboarding@resend.dev>",
          to: ["todelanoivan13@gmail.com"],
          subject: "Hello World",
          html: "<strong>Hello</strong>",
          text: "hi",
        }),
      });

      const data = await res.json();
      console.log(data);
    } catch (e) {
      console.error(e);
    }
  });
</script>
