---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <button class="bg-black text-white rounded-lg justify-center">
    <div class="dot-spinner" id="loading">
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
      <div class="dot-spinner__dot"></div>
    </div>
    <span class="span-dis">Send</span>
  </button>
</Layout>

<script>
  const myBoton = document.querySelector("button");

  myBoton.addEventListener("click", async () => {
    const loadingS = document.getElementById("loading");
    const span = document.querySelector("span");

    loadingS.classList.toggle("toogle");
    span.classList.toggle("open");

    try {
      const res = await fetch("./api/sendEmail.json", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          from: "Acme <onboarding@resend.dev>",
          to: ["todelanoivan13@gmail.com"],
          subject: "Hello World",
          html: "<strong>Hello</strong>",
          text: "hi",
        }),
      });

      const data = await res.json();
      console.log(data);
    } catch (e) {
      console.error(e);
    } finally {
      loadingS.classList.remove("toogle");
      span.classList.remove("open");
    }
  });
</script>

<style>
  button {
    width: 100px;
    height: 40px;
    display: grid;
    align-items: center;
    justify-content: center;
  }

  .span-dis {
    display: block;
  }

  .span-dis.open {
    display: none;
  }

  .dot-spinner {
    --uib-size: 2.8rem;
    --uib-speed: 0.9s;
    --uib-color: #0055ff;
    position: relative;
    width: 20px;
    height: 20px;
  }

  .dot-spinner {
    display: none;
  }

  .dot-spinner .dot-spinner__dot {
    display: none;
  }

  .dot-spinner.toogle {
    display: block;
  }

  .dot-spinner.toogle .dot-spinner__dot {
    position: absolute;
    display: flex;
    align-items: center;
    height: 20px;
    width: 20px;
  }

  .dot-spinner__dot::before {
    content: "";
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
    box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
  }

  .dot-spinner__dot:nth-child(2) {
    transform: rotate(45deg);
  }

  .dot-spinner__dot:nth-child(2)::before {
    animation-delay: calc(var(--uib-speed) * -0.875);
  }

  .dot-spinner__dot:nth-child(3) {
    transform: rotate(90deg);
  }

  .dot-spinner__dot:nth-child(3)::before {
    animation-delay: calc(var(--uib-speed) * -0.75);
  }

  .dot-spinner__dot:nth-child(4) {
    transform: rotate(135deg);
  }

  .dot-spinner__dot:nth-child(4)::before {
    animation-delay: calc(var(--uib-speed) * -0.625);
  }

  .dot-spinner__dot:nth-child(5) {
    transform: rotate(180deg);
  }

  .dot-spinner__dot:nth-child(5)::before {
    animation-delay: calc(var(--uib-speed) * -0.5);
  }

  .dot-spinner__dot:nth-child(6) {
    transform: rotate(225deg);
  }

  .dot-spinner__dot:nth-child(6)::before {
    animation-delay: calc(var(--uib-speed) * -0.375);
  }

  .dot-spinner__dot:nth-child(7) {
    transform: rotate(270deg);
  }

  .dot-spinner__dot:nth-child(7)::before {
    animation-delay: calc(var(--uib-speed) * -0.25);
  }

  .dot-spinner__dot:nth-child(8) {
    transform: rotate(315deg);
  }

  .dot-spinner__dot:nth-child(8)::before {
    animation-delay: calc(var(--uib-speed) * -0.125);
  }

  @keyframes pulse0112 {
    0%,
    100% {
      transform: scale(0);
      opacity: 0.5;
    }

    50% {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>
